<div class="historial">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 patient-history">
        <!--<h3>Chats Anteriores</h3>-->
        <% @conversations.each do |conversation| %>
          <div>
            <div class="top-historial">
              <% t = conversation.created_at %>
              <% meses = ["bob","Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]%>
              <%= t.strftime("%d")+ " de " + meses[t.strftime("%m").to_i] + " de " + t.strftime("%Y") %>
            </div>
            <div class="bottom-historial">
              <div class="pull-left left-img">
                <%= image_tag "icono-historial-paciente.png", :alt => "Doctor MediChat" %>
              </div>
              <div class="pull-right text-history">
                <div class="title-diag">
                  <div class="pull-left">
                    <h3>Doctor: Dr. <%= conversation.doctor.doctor_profile.last_name %></h3>
                  </div>
                  <div class="pull-right">
                    <span><%= t.strftime('%R') %></span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="details-diag">
                  <div>
                    <p><strong>Diagnóstico:</strong> <%= conversation.diagnosis %> </p>
                    <p><strong>Indicaciones:</strong> <%= conversation.summary %></p>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'pages/footer' %>
