<div class="white-bg chat-pat">
<div class="container ">
  <section class="section-padding-20 conv-paciente">
    <div class="row">
      <div class="col-sm-9">
        <div class="info-detail text-center">
          <div class="info-d">Conversando con el doctor</div>
          <div class="cnt-span">
          <span class="dname"><%= @conversation.doctor.doctor_profile.last_name %></span>
          <span> | </span>
          <span class="">CMP <%= @conversation.doctor.doctor_profile.cmp %></span>
          </div>
        </div>
        <div class="panel">
          <div class="title-panel">
            <div class="pull-left">
                <strong>
                  <script>
                    var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                    var f=new Date();
                    document.write(f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                  </script>
                </strong>
            </div>
            <div class="pull-right hide">
              <%= link_to '<i class="fa fa-refresh" aria-hidden="true"></i>'.html_safe, conversation_path(@conversation), remote: true, id: "refresh" %>
            </div>
            <div class="clearfix"></div>
          </div>
          <% if @conversation.messages.any? %>
          <div class="panel-body" id="messages">
            <%= render partial: 'messages/message', collection: @conversation.messages%>
          </div>
          <%else%>
          <div class="panel-body hidden" id="messages"></div>
          <%end%>
        </div>
        <div id="conversationbox" class="status-conversation">
          <%= render partial: 'conversation_status', locals: {message: @message, conversation: @conversation} %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="detail-user col-sm-offset-1">
          <p id="kapor" class="hidden"><%= @conversation.access_token %></p>
          <strong>Conversando con el doctor</strong>
          <h3 class="doctor-title"><%= @conversation.doctor.doctor_profile.last_name %></h3>
          <h3 class="doctor-title-min">CMP <%= @conversation.doctor.doctor_profile.cmp %></h3>
          <div class="status-user">
            <span class="icon-status"> </span><span>ONLINE</span>
          </div>
          <div class="line-detail"></div>
          <%= image_tag "icono-paciente.png", :alt => "Paciente MediChat" %>
          <h3 class="paciente-title"><%= @conversation.patient.patient_profile.first_name %> <%= @conversation.patient.patient_profile.last_name %></h3>
          <strong>Paciente</strong>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12">
        <div class="form-bottom">
          <div class="col-sm-9 fchat1">
            <div class="form-message">
              <%= render partial: 'messages/message_form', locals: {message: @message, conversation: @conversation}%>
            </div>
          </div>
          <div class="col-sm-3 fchat2">
            <div class="send-message">
              <a href="mailto:"><%= image_tag "attach.png", :alt => "Adjuntar archivo" %></a>
              <button id="btnSendMessage" class="btn btn-primary">Enviar</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <script type="text/javascript">
      setInterval(function () {location.reload();}, 10000);
    </script>
  </section>
</div>

<script type="text/javascript">
  document.querySelector('.panel-body').addEventListener("DOMSubtreeModified", changeSize, true);

  function changeSize(){
    var chatBox = document.querySelector('.panel-body');
    chatBox.scrollTop = chatBox.scrollHeight;
  }
</script>
<%= render partial: 'pages/footer' %>
