<div class="top-d-c">
	<div class="col-md-6">
		<p><strong>Paciente: <%= patient_profile.first_name %> <%= patient_profile.last_name %> </strong></p>
		<p><strong>Teléfono:</strong> <%= patient_profile.phone %> </p>
	  <p><strong>Sexo:</strong> <%= patient_profile.sex %> </p>
	  <p><strong>Enfermedades pre-existentes:</strong> <%= patient_profile.existing_conditions %></p>
	</div>
	<div class="col-md-6">
		<%= link_to "Terminar", edit_doctor_conversation_path, {class: "btn btn-danger closeT"} %>
		<div class="clearfix"></div>
		<p><strong>Fecha de Nacimiento</strong> <%= patient_profile.birthday %> </p>
		<p><strong>Tipo de Sangre:</strong> <%= patient_profile.blood_type %></p>
    <p><strong>Alergias:</strong> <%= patient_profile.allergies %></p>
    <p><strong>Talla:</strong> <%= patient_profile.height %></p>
  	<p><strong>Peso:</strong> <%= patient_profile.weight %></p>
	</div>
	<div class="clearfix"></div>
</div>
