<div>
  <h3>Conversando con <%= patient_profile.first_name %> <%= patient_profile.last_name %></h3>
  <p>Telefono: <%= patient_profile.phone %> --- Edad: <%= patient_profile.age %> --- Sexo: <%= patient_profile.sex %> --- Tipo de Sangre: <%= patient_profile.blood_type %></p>
  <p>Enfermedades pre-existentes: <%= patient_profile.existing_conditions %></p>
  <p>Alergias: <%= patient_profile.allergies %></p>
</div>
