<div class="top-d-c">
	<div class="col-md-6">
		<p>Telefono: <%= patient_profile.phone %> </p>
	  <p>Edad: <%= patient_profile.age %> </p>
	  <p>Sexo: <%= patient_profile.sex %> </p>
	</div>
	<div class="col-md-6">
		<%= link_to "Terminar", edit_doctor_conversation_path, {class: "btn btn-danger"} %>
		<p>Tipo de Sangre: <%= patient_profile.blood_type %></p>
  	<p>Enfermedades pre-existentes: <%= patient_profile.existing_conditions %></p>
  	<p>Alergias: <%= patient_profile.allergies %></p>
	</div>
	<div class="clearfix"></div>
</div>
