<div class="slightly-padded doctor">
  <div class="container">
    <div class="row">
      <% if current_user.doctor_profile.available == false %>
        <div class="col-md-12 text-center unavailable">
          <p class="wt">Estás actualmente en modo <strong>'No Disponible'</strong> entonces no puedes recibir chats. Para recibir chats, cambia a modo <strong>Disponible</strong></p>
          <%= link_to 'Cambiar a Disponible', doctor_make_available_path, method: "post", class: 'btn btn-primary'%>
        </div>
      <% else %>
        <div class="col-md-12 text-center unavailable">
          <p class="wt">Estás actualmente en modo <strong>'Disponible'</strong>. Para dejar de recibir nuevos chats, cambia a modo <strong>'No Disponible'</strong>.</p>
          <%= link_to 'Cambiar a No Disponible', doctor_make_unavailable_path, method: "post", class: 'btn btn-primary' %>
        </div>
      <% end %>

      <div class="col-sm-12 text-center" id="conversations">
        <div id="conversation-index" class="state-doct">
          <div class="col-sm-6">
            <h3>Pacientes No Atendidos</h3>
            <div class="bg-white">
              <div class="pull-right">
                <%= link_to '<i class="fa fa-refresh" aria-hidden="true"></i>'.html_safe, index_new, remote: true, id: "refresh" %>
              </div>
              <div class="clearfix"></div>
              <div class="list-group" id="tabs">
                <% current_user.conversations.each do |c| %>
                  <% doc = c.messages.select { |m| m.user.class == Doctor }%>
                  <% if doc.empty? && c.status == "open" %>
                    <%= render "new_conversation", conversation: c %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h3>Pacientes Atendidos</h3>
            <div class="bg-white">
              <div class="pull-right">
                <%= link_to '<i class="fa fa-refresh" aria-hidden="true"></i>'.html_safe, index_old, remote: true, id: "refresh2" %>
              </div>
              <div class="clearfix"></div>
              <div class="list-group" id="tabs2">
                <% current_user.conversations.each do |c| %>
                  <% doc = c.messages.select { |m| m.user.class == Doctor }%>
                  <% if doc.any? && c.status == "open" %>
                    <%= render "conversation", conversation: c %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'pages/footer' %>

<script type="text/javascript">
setInterval(function () {document.getElementById("refresh").click();}, 10000);
setInterval(function () {document.getElementById("refresh2").click();}, 10000);
</script>
<script>
function getAllConversations(){
  var idArray = [];
  $('.list-group-item.list-group-item-action.whatever').each(function () {
      idArray.push(this.id);
  });
  return idArray;
}

function loopNotifications(array){
  var arrayLength = array.length;
  for (var i = 0; i < arrayLength; i++) {
    if (array[i].length > 5) {
      var abc = array[i];
      var notificationEvents = ['onclick', 'onshow', 'onerror', 'onclose'];
      var title = "Nueva Conversación";
      var options = {
        body: "Tienes un mensaje de un paciente nuevo",
        tag: 'custom',
        icon: "<%= asset_path('sobre.png') %>",
        requireInteraction: true
      };
      Notification.requestPermission(function() {
        var notification = new Notification(title, options);

        notificationEvents.forEach(function(eventName) {
          notification[eventName] = function(event) {
            console.log("ok")
          };
        });
        notification.onclick = function(event) {
          parent.focus();
          window.open('/doctor/conversations/' + abc, '/doctor/conversations/' + abc);
          this.close();
        }
      });
    };
  };
}

function sendNotifications() {
  var conversations = getAllConversations();
  if (typeof conversations !== 'undefined' && conversations.length > 0) {
    loopNotifications(conversations);
  }
}


setInterval(sendNotifications, 25000); // Every 1 second, the `refresh` function is called.

</script>

