<section class="section-padding-20 white-bg">
  <div class="row col-md-8 col-md-offset-2">
    <div class="col-md-8" id="<%= @conversation.access_token %>">
      <div class="panel">
        <div class="top-chat-d">
          <p id="kapor" class="hidden"><%= @conversation.access_token %></p>
          <%= render partial: 'doctor/patient_profiles/show', locals: { conversation: @conversation, patient_profile: @conversation.patient.patient_profile}%>
          <% if @conversation.patient.conversations.length > 1 %>
            <div class="patient-history">
              <h3>Historial del paciente</h3>
              <% @conversation.patient.conversations.each do |conversation| %>
                <div>
                  <p>Fecha: <%= conversation.created_at.to_date %> Diagnóstico: <%= conversation.diagnosis %> </p>
                  <p>Resumen: <%= conversation.summary %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <% if @conversation.messages.any? %>
          <div class="panel-body" id="messages">
            <%= render partial: 'doctor/messages/message', collection: @conversation.messages.reverse%>
          </div>
        <%else%>
          <div class="panel-body hidden" id="messages">
          </div>
        <%end%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="detail-user col-md-offset-2">
        <p id="kapor" class="hidden"><%= @conversation.access_token %></p>
        <strong>Conversando con el doctor</strong>
        <h3 class="doctor-title"><%= @conversation.doctor.doctor_profile.last_name %></h3>
        <div class="status-user">
          <span class="icon-status"> </span><span>ONLINE</span>
        </div>
        <div class="line-detail"></div>
        <img src="/assets/ingresa-tus-datos-mediChat.png" alt="">
        <h3 class="paciente-title">Pedro Silva</h3>
        <strong>Paciente</strong>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
      <div class="form-bottom">
        <div class="col-md-8">
          <div class="form-message">
            <%= render partial: 'messages/message_form', locals: {message: @message, conversation: @conversation}%>
          </div>
        </div>
        <div class="col-md-4">
          <div class="send-message">
            <img src="/assets/attach.png" alt="Adjuntar archivo">
            <button id="btnSendMessage" class="btn btn-primary">Enviar</button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</section>

<%= render partial: 'pages/footer' %>
