
  <section id="top" class="home" data-parallax="scroll">
    <div class="col-lg-offset-1 col-lg-6 col-md-6 home__title">
      <div class="home__text-wrap">
        <!-- Title -->
        <h1>Obtén Orientación Médica <span class="cali">de calidad</span></h1>
        <p class="text-m">Comienza a disfrutar la experiencia MediChat </p>
        <div id="background-form">
        <h2>Inicia sesión</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, label: false, required: false, autofocus: true, placeholder:'Correo', html: { class: 'col-md-8' }%>
            <%= f.input :password, label: false, required: false, placeholder:'Contraseña', html: { class: 'col-md-8' } %>
            <%= f.input :remember_me, label: :Recuérdame, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Inicia sesión" %>
            <%= f.button :button, "Regístrate", :class=>"btn btn-register hide" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <!-- Sobre medichat Section -->
  <section class="about section-padding-70 gray-bg">
    <div class="container">
      <div class="">
        <h2>Somos MediChat <strong>Orientación Médica Online</strong> <span></span></h2>
        <p class="text-center">Evolución médica a través de la tecnología:<br/>
        Conversa con nuestro staff médico de calidad, <br/>
        en tiempo real vía <strong>online 24/7.</strong></p>
      </div>
    </div>
  </section>
  <!-- End Sobre medichat Section -->

  <!-- Services Section -->
  <section class="section-padding-70 white-bg">
    <div class="container">
      <div class="row">
        <h2>¿Qué hacemos? <span></span></h2>
        <ul>
          <li><span class="span-icon"><i class="glyphicon glyphicon-ok-circle"></i></span> Brindamos soluciones de tecnología para la industria de la salud</li>
          <li><span class="span-icon"><i class="glyphicon glyphicon-ok-circle"></i></span> Ampliamos la oferta médica del país</li>
          <li><span class="span-icon"><i class="glyphicon glyphicon-ok-circle"></i></span> Conectamos, en tiempo real, pacientes con doctores de calidad a través de la internet <strong>24/7</strong></li>
        </ul>
      </div>
      <div class="row">
        <!-- Service card -->
        <div class="col-xs-12 col-sm-4">
          <div class="service-card">
            <div class="pull-left">
              <%= image_tag "sobre-medichat.png", :alt => "Sobre MediChat", :class=>"img-card" %>
            </div>
            <div class="pull-left box">
              <a href="#sobre-medichat">Sobre MediChat</a>
              <h6>Evolución médica</h6>
              <p>Plataforma médica que nace para cubrir la creciente demanda médica en la internet.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- End Service card -->

        <!-- Service card -->
        <div class="col-xs-12 col-sm-4">
          <div class="service-card">
            <div class="pull-left">
              <%= image_tag "hacemos.png", :alt => "Como funciona medichat", :class=>"img-card" %>
            </div>
            <div class="pull-left box">
              <a href="#como-funciona" class="chat-button">¿Cómo funciona?</a>
              <h6>Rápido y amigable</h6>
              <p>MediChat es sencillo de usar.</p>
              <p>En sólo 4 pasos recibe orientación médica de calidad.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- End Service card -->

        <!-- Service card -->
        <div class="col-xs-12 col-sm-4">
          <div class="service-card">
            <div class="pull-left">
              <%= image_tag "ventajas-medichat.png", :alt => "Ventajas MediChat", :class=>"img-card" %>
            </div>
            <div class="pull-left box">
              <a href="#ventajas">Ventajas de MediChat</a>
              <h6>Ahorra tiempo y dinero</h6>
              <p>En MediChat recibe orientación médica 24/7, ayudando a evitar la automedicación.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- End Service card -->
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- Articles Section -->
  <section class="about-medichat section-padding-100">
    <div class="container">
      <div class="row">

        <!-- Section title -->
        <div class="col-xs-12 section3">
          <div id="sobre-medichat" class="section-title">
            <h2>Sobre MediChat <span></span></h2>
            <div class="col-xs-3 img-l">
              <%= image_tag "medichat-logo.png", :alt => "Logo medichat", :class=>"img-sobre" %>
            </div>
            <div class="col-xs-9 text-r">
              <p class="text-j">Hoy en día, muchas personas buscan información en línea y se automedican, generando riesgos importantes 
            para su salud. Por esa razón creamos MediChat: para revolucionar la forma en que recibes orientación médica, y lograr un impacto positivo en nuestra sociedad. Nuestra visión es llevar bienestar a cada país donde operamos.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- End Section title -->

        <!-- Article card -->
        <div class="col-xs-12 col-md-4">
          <div class="article-card">
            <div class="card-wrap">
              <%= image_tag "sobre.png", :alt => "Servicio de confianza" %>
              <p>Ofrecemos un servicio de <strong>mensajería de confianza</strong>, donde te sientas cómodo de hacer preguntas a un doctor en tiempo real.</p>
            </div>
          </div>
        </div>
        <!-- End Article card -->

        <!-- Article card -->
        <div class="col-xs-12 col-md-4">
          <div class="article-card center-b">
            <div class="card-wrap">
              <%= image_tag "localizacion.png", :alt => "Localización MediChat" %>
              <p>Si tienes <strong>acceso a Internet</strong> tienes acceso a MediChat. Conversa nuestros doctores en el momento y lugar que lo necesites.</p>
            </div>
          </div>
        </div>
        <!-- End Article card -->

        <!-- Article card -->
        <div class="col-xs-12 col-md-4">
          <div class="article-card">
            <div class="card-wrap">
              <%= image_tag "24.png", :alt => "Atención las 24 horas - MediChat" %>
              <p>En MediChat podrás encontrar orientación médica online, con sólo un clic, las <strong>24 horas del día y los 7 días a la semana</strong>.</p>
            </div>
          </div>
        </div>
        <!-- End Article card -->

        <!-- Article card (white background) -->
        <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="article-card-gray">
            <div class="">
              <p>Obtén orientación médica en MediChat, empieza ahora: <a href="#top" class="chat-top">CHATEA CON UN DOCTOR</a>.</p>
            </div>
          </div>
        </div>
        <!-- End Article card (white background) -->

      </div>
    </div>
  </section>
  <!-- End Articles Section -->

  <section class="section-padding-100 white-bg">
    <div class="container">
      <div class="row">

        <!-- Section title -->
        <div class="col-xs-12">
          <div id="como-funciona" class="section-title">
            <h2>¿Cómo Funciona? <span></span></h2>
            <p>Es muy sencillo y rápido, en <strong>4 pasos</strong> recibe orientación de un Doctor:</p>
          </div>
        </div>
        <!-- End Section title -->

        <!-- Testimonial card -->
        <div class="col-xs-12 col-md-3">
          <div class="testimonial-card">
            <span>Paso 1</span>
            <%= image_tag "ingresa-tus-datos-medichat.png", :alt => "Ingresa tus datos MediChat" %>
            <h4>Ingresa tus datos</h4>            
            <p>Queremos conocerte, para eso, responde algunas preguntas.</p>
          </div>
        </div>
        <!-- End Testimonial card -->

        <!-- Testimonial card -->
        <div class="col-xs-12 col-md-3">
          <div class="testimonial-card">
            <span>Paso 2</span>
            <%= image_tag "sintomas-medichat.png", :alt => "Conversación MediChat" %>
            <h4>Inicia la conversación</h4>            
            <p>Conversa con un doctor dando clic en el botón: <a href="#top" class="chat-top-2">INICIAR CHAT CON UN DOCTOR</a>.</p>
          </div>
        </div>
        <!-- End Testimonial card -->

        <!-- Testimonial card -->
        <div class="col-xs-12 col-md-3">
          <div class="testimonial-card">
            <span>Paso 3</span>
            <%= image_tag "conversacion-medichat.png", :alt => "Sintomas MediChat" %>
            <h4>Describe tus síntomas</h4>            
            <p>¿En qué podemos ayudarte? Cuéntanos de tus dolencias, medicamentos que estás tomando, etc.</p>
          </div>
        </div>
        <!-- End Testimonial card -->

         <!-- Testimonial card -->
        <div class="col-xs-12 col-md-3">
          <div class="testimonial-card">
            <span>Paso 4</span>
            <%= image_tag "orientacion-medichat.png", :alt => "Orientación MediChat" %>
            <h4>Recibe orientación médica</h4>            
            <p>Resuelve tus dudas gracias a un profesional de la salud.</p>
          </div>
        </div>
        <!-- End Testimonial card -->
        
        <div class="col-xs-12">
          <div class="section-footer">
            <div class="line"></div>
            <div class="text-f"><strong>¡Así de fácil!</strong></div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Testimonials -->
  <section class="ventajas section-padding-100">
    <div class="container">
      <div class="row">

        <!-- Section title -->
        <div class="col-xs-12">
          <div id="ventajas" class="section-title">
            <h2>Ventajas de MediChat<span></span></h2>
          </div>
        </div>
        <!-- End Section title -->

        <!-- FAQ card -->
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card faq-card">
            <h3>Orientación médica oportuna y de calidad</h3>
            <p>Recibe consejos profesionales de nuestro staff médico a tu disposición.</p>
          </div>
        </div>
        <!-- End FAQ card -->

        <!-- FAQ card -->
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card faq-card">
            <h3>Atendemos las 24 horas, los 7 días de la semana</h3>
            <p>Conectamos pacientes con doctores de calidad en tiempo real a través de la Internet. </p>
          </div>
        </div>
        <!-- End FAQ card -->

        <!-- FAQ card -->
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card faq-card">
            <h3>Te ahorramos tiempo</h3>
            <p>Te atendemos en 5 minutos, aproximadamente. Con MediChat no requieres cita previa.</p>
          </div>
        </div>
        <!-- End FAQ card -->

        <!-- FAQ card -->
        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card faq-card">
            <h3>Reducimos el costo de las orientaciones médicas</h3>
            <p>Medichat ayuda a que la salud sea más accesible para todos.</p>
          </div>
        </div>
        <!-- End FAQ card -->

        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card faq-card">
            <h3>Evitamos la automedicación</h3>
            <p>Siguiendo las recomendaciones de nuestros doctores cuidas tu salud.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card faq-card">
            <h3>Somos una plataforma rápida y confiable</h3>
            <p>Podrás comunicar tus síntomas al médico y obtener orientación inmediata.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card faq-card">
            <h3>Estamos a tu alcance</h3>
            <p>Con acceso a internet, nuestros afiliados tienen acceso a MediChat.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
          <div class="card faq-card">
            <h3>Guardamos tu historial de conversaciones</h3>
            <p>Para que nuestros doctores puedan darte una mejor orientación cuando la necesites.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="important-s section-padding-100 white-bg">
    <div class="container">
      <div class="row">

        <div class="col-xs-12">
          <div id="important-s" class="section-title">
            <h2>Importante <span></span></h2>
            <p>MediChat no ofrece la atención de emergencias ni de urgencias médicas, nuestros doctores únicamente ofrecen orientación médica preliminar basada en la comunicación de síntomas por parte de nuestros afiliados. En caso usted sospeche tener una emergencia o urgencia médica, por favor acérquese al establecimiento de salud más cercano a la brevedad posible.</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Testimonials -->


<%= render partial: 'pages/footer' %>
